node_modules
.next
out
.env*
!.env.example
.DS_Store
*.log
*.zip
.vercel
.turbo

# Runtime user uploads (created on demand by /api/upload)
/public/uploads

# TypeScript incremental build info
*.tsbuildinfo
